* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-rendering: geometricPrecision;
}
body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Hevetica, sans-serif;
  font-size: 14px;
  line-height: 2;
  color: rgba(0,0,0,0.86);
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #0a84ae;
  text-decoration: none;
}
.theme-dark a {
  color: #27bff3;
}
a:hover,
a:focus {
  color: #053b4e;
  text-decoration: none;
}
.theme-dark a:hover,
.theme-dark a:focus {
  color: #0d96c6;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 3px;
}
.img-thumbnail {
  padding: $thumbnail-padding;
  line-height: 2;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 28px;
  margin-bottom: 28px;
  border: 0;
  border-top: 1px solid #eee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}


.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before {
    display: table;
    content: ""
}

.container,.container-fluid {
    margin-right: auto;
    margin-left: auto
}


.container,.container-fluid {
    padding-left: 15px;
    padding-right: 15px
}


.container {
    max-width: 1016px
}


.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px
}


@media (min-width: 768px) {
    .container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header {
        margin-right:0;
        margin-left: 0
    }

    .navbar-fixed-bottom,.navbar-fixed-top,.navbar-static-top {
        border-radius: 0
    }

    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        margin-left: -15px
    }
}





@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  max-width: 1016px;
}
.container.spacing-content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.narrow-content {
  max-width: 680px;
  margin: auto;
  text-align: center;
  font-size: 120%;
}
.narrow-content p {
  color: #666;
}
.narrow-content ul {
  padding-left: 0;
}
.narrow-content ul.ul-inline {
  margin: 20px 0;
}
.narrow-content ul.ul-inline li {
  background: url("/homepage/img/icon-checkmark.png") left 4px no-repeat;
  display: inline-block;
  padding-left: 30px;
  margin: 0 20px;
}
.narrow-content ul.ul-large {
  text-align: left;
}
.narrow-content ul li {
  margin-bottom: 20px;
  background: url("/homepage/img/icon-checkmark.png") left 4px no-repeat;
  padding-left: 30px;
  list-style: none;
}







@media (max-width: 1150px) {
    header.site-header.site-header .navbar-header .hiring {
        display:none !important
    }
}

.carousel-inner {
    overflow: visible !important
}

html.homepage-page {
    text-align: center;
}

html.homepage-page header.site-header.site-header {
    border-bottom: 1px solid rgba(255,255,255,0.05)
}

html.homepage-page .tooltip-inner {
    max-width: 280px
}

html.homepage-page .sp-container {
    background-color: #222228;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1px solid rgba(255,255,255,0.5);
}

html.homepage-page .sp-container .sp-picker-container {
    border: 0
}

html.homepage-page .sp-container .sp-button-container {
    display: none
}

html.homepage-page .sp-container .sp-input {
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5)
}

html.homepage-page .sp-container .sp-color,html.homepage-page .sp-container .sp-hue {
    border: 0
}

html.homepage-page .browser {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
}

html.homepage-page .browser .browser-toolbar {
    padding: 3px 0 3px 8px;
    background: #000;
}

html.homepage-page .browser .browser-toolbar i {
    background: #111118;
    width: 10px;
    height: 10px;
    display: inline-block;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-clip: padding-box;
    margin-right: 4px;
    position: relative;
    top: 1px
}

html.homepage-page .browser .browser-content {
    background: linear-gradient(to top,#86c4ff,#00537f,#000);
    height: 320px
}

@media (min-width: 992px) {
    html.homepage-page .vertical-align {
        position:relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

html.homepage-page .carousel {
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    background: #111118;
    overflow: hidden;
    padding-top: 20px;
    height: calc(100vh - 140px);
    min-height: 580px;
    max-height: 580px;
}

@media (min-width: 768px) {
    html.homepage-page .carousel {
        padding:40px 0 0 0;
        max-height: 650px
    }
}

@media (min-width: 992px) {
    html.homepage-page .carousel {
        padding:115px 0 0 0;
        min-height: 650px;
        max-height: 880px
    }
}

html.homepage-page .carousel .container {
    position: relative
}

@media (min-width: 992px) {
    html.homepage-page .carousel .container,html.homepage-page .carousel .carousel-inner,html.homepage-page .carousel .item,html.homepage-page .carousel .col-md-6 {
        height:100%
    }
}

html.homepage-page .carousel .carousel-indicators {
    background: rgba(0,0,0,0.7);
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .carousel-indicators {
        background:none;
        bottom: 10px
    }
}

html.homepage-page .carousel .carousel-indicators li {
    margin: 0 4px;
    border: 0;
    background: rgba(255,255,255,0.4);
    width: 8px;
    height: 8px;
}

html.homepage-page .carousel .carousel-indicators li.active {
    width: 8px;
    height: 8px;
    background: #fff
}

html.homepage-page .carousel .carousel-control {
    background: #fff;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-clip: padding-box;
    top: 50%;
    margin-top: -50px;
    position: absolute;
    opacity: 1;
    background-image: url("/lib/homepage/img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .carousel-control {
        display:block
    }
}

html.homepage-page .carousel .carousel-control.left {
    left: -110px
}

html.homepage-page .carousel .carousel-control.right {
    right: -110px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

html.homepage-page .carousel .col-md-5,html.homepage-page .carousel .col-md-6,html.homepage-page .carousel .col-md-7 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    vertical-align: middle
}

html.homepage-page .carousel .slide-left {
    text-align: center;
    max-width: 560px;
    margin: auto;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-left {
        text-align:left;
        max-width: 440px;
        margin: initial
    }
}

html.homepage-page .carousel blockquote {
    border: 0;
    padding: 0;
}

html.homepage-page .carousel blockquote p {
    font-size: 15px;
    font-style: italic;
    line-height: 1.7;
    color: rgba(255,255,255,0.7);
}

@media (min-width: 768px) {
    html.homepage-page .carousel blockquote p {
        font-size:19px
    }
}

html.homepage-page .carousel blockquote author {
    font-size: 13px;
    display: block;
    font-weight: 500;
}

@media (min-width: 768px) {
    html.homepage-page .carousel blockquote author {
        font-size:16px;
        margin: 20px 0 40px 0
    }
}

html.homepage-page .carousel blockquote img {
    height: 40px;
    margin-right: 10px;
    margin-top: -1px;
    display: none
}

html.homepage-page .carousel img {
    max-width: 100%
}

html.homepage-page .carousel h2 {
    margin-top: 0;
    line-height: 1.7;
    font-weight: 500;
    font-size: 20px;
}

@media (min-width: 768px) {
    html.homepage-page .carousel h2 {
        font-size:26px
    }
}

@media (min-width: 992px) {
    html.homepage-page .carousel h2 {
        font-size:26px;
        min-height: 88px
    }
}

html.homepage-page .carousel .cta-action {
    vertical-align: top;
    margin: 20px 0 20px 0;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .cta-action {
        margin:0 0 0 0
    }
}

html.homepage-page .carousel .btn-success {
    display: inline-block
}

html.homepage-page .carousel .success,html.homepage-page .carousel .default {
    display: inline-block;
    vertical-align: top
}

html.homepage-page .carousel .default {
    margin-left: 10px;
}

@media (min-width: 768px) {
    html.homepage-page .carousel .default {
        margin-left:20px
    }
}

html.homepage-page .carousel a.btn.btn-lg {
    font-size: 13px;
    letter-spacing: 0;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    html.homepage-page .carousel a.btn.btn-lg {
        font-size:13px;
        letter-spacing: .5px;
        padding-left: 30px;
        padding-right: 30px
    }
}

html.homepage-page .carousel em {
    font-size: 10px;
    margin-top: 4px;
    color: rgba(255,255,255,0.3);
    font-size: 11px;
    letter-spacing: .5px;
    padding-left: .5px;
    display: none;
    text-align: center
}

html.homepage-page .carousel .btn-default {
    display: inline-block;
    vertical-align: top
}

html.homepage-page .carousel .ilustrations {
    max-width: 500px;
    margin: auto;
    position: relative;
    height: 280px;
    max-height: 280px;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .ilustrations {
        height:initial;
        max-height: initial
    }
}

html.homepage-page .carousel .slide-1 .illustration-lock {
    margin: auto;
    display: block;
    width: 220px;
    position: relative;
    animation-delay: 0s;
    animation-duration: .5s;
}

@media (min-width: 768px) {
    html.homepage-page .carousel .slide-1 .illustration-lock {
        width:320px
    }
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-1 .illustration-lock {
        left:-15px
    }
}

html.homepage-page .carousel .slide-1 .illustration-iphone-left,html.homepage-page .carousel .slide-1 .illustration-iphone-right {
    height: 220px;
    position: absolute;
    z-index: -1;
    top: 42px;
    animation-delay: .5s;
}

@media (min-width: 768px) {
    html.homepage-page .carousel .slide-1 .illustration-iphone-left,html.homepage-page .carousel .slide-1 .illustration-iphone-right {
        height:360px
    }
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-1 .illustration-iphone-left {
        left:-30px
    }
}

html.homepage-page .carousel .slide-1 .illustration-iphone-right {
    right: 0
}

html.homepage-page .carousel .slide-2 .browser-container {
    position: relative;
    padding-top: 20px;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-2 .browser-container {
        padding-top:0
    }
}

html.homepage-page .carousel .slide-2 img.illustration-header {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: block;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-2 img.illustration-header {
        width:411px
    }
}

html.homepage-page .carousel .slide-2 img.illustration-phone {
    width: 206px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -103px;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-2 img.illustration-phone {
        top:-40px;
        height: 419px
    }
}

html.homepage-page .carousel .slide-2 img.illustration-aircraft {
    position: absolute;
    bottom: 100px;
    width: 100%;
    max-width: initial;
}

@media (min-width: 768px) {
    html.homepage-page .carousel .slide-2 img.illustration-aircraft {
        width:580px;
        bottom: -20px
    }
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-2 img.illustration-aircraft {
        left:-50px
    }
}

html.homepage-page .carousel .slide-2 .sdks {
    bottom: -84px;
    z-index: -1;
    position: absolute;
    text-align: center;
    width: 100%;
    animation-delay: 1s
}

html.homepage-page .carousel .slide-2 .circle-logo {
    display: inline-block;
    margin-right: 2px;
}

html.homepage-page .carousel .slide-2 .circle-logo:last-child {
    margin-right: 0
}

html.homepage-page .carousel .slide-2 .circle-logo .logo,html.homepage-page .carousel .slide-2 .circle-logo {
    width: 38px;
    height: 38px
}

html.homepage-page .carousel .slide-2 .circle-logo .logo {
    background: transparent
}

html.homepage-page .carousel .slide-2 .circle-logo .logo:after {
    -webkit-filter: grayscale(100%);
    opacity: .2
}

html.homepage-page .carousel .slide-2 .circle-logo[data-name="vanillajs"] .logo:after {
    background-image: url("/lib/homepage/img/vanillajs.svg")
}

html.homepage-page .carousel .slide-3 {
    overflow: hidden;
}

html.homepage-page .carousel .slide-3 .ilustrations {
    max-width: 300px;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-3 .ilustrations {
        max-width:initial
    }
}

html.homepage-page .carousel .slide-3 .phones {
    position: relative;
    height: 500px;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-3 .phones {
        height:1000px
    }
}

html.homepage-page .carousel .slide-3 .phones .illustration {
    position: absolute;
    width: 180px;
    top: 30px;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-3 .phones .illustration {
        top:230px;
        width: 330px
    }
}

html.homepage-page .carousel .slide-3 .phones .illustration.illustration-a {
    z-index: 100;
    animation-name: slideInUp2;
    animation-duration: .6s;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-3 .phones .illustration.illustration-a {
        left:-40px
    }
}

html.homepage-page .carousel .slide-3 .phones .illustration.illustration-b {
    right: 0;
    top: 70px;
    width: 150px;
    animation-name: slideInUp2;
    animation-duration: .8s;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-3 .phones .illustration.illustration-b {
        top:370px;
        width: 250px
    }
}

html.homepage-page .carousel .slide-4 .ilustrations {
    width: 290px;
    margin: auto;
    text-align: center;
}

@media (min-width: 768px) {
    html.homepage-page .carousel .slide-4 .ilustrations {
        width:100%;
        max-width: initial
    }
}

html.homepage-page .carousel .slide-4 .premises-box {
    background: #e3e5e7;
    width: 115px;
    margin: 0 10px 0 10px;
    color: #333;
    display: inline-block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    html.homepage-page .carousel .slide-4 .premises-box.premises-box-auth0 {
        margin-right:0
    }
}

@media (min-width: 768px) {
    html.homepage-page .carousel .slide-4 .premises-box {
        width:160px
    }
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-4 .premises-box {
        width:45%
    }
}

html.homepage-page .carousel .slide-4 .premises-box i {
    display: block;
    background: url("/lib/homepage/img/slide-4-premises.svg") center no-repeat;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
}

@media (min-width: 768px) {
    html.homepage-page .carousel .slide-4 .premises-box i {
        height:150px
    }
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-4 .premises-box i {
        height:160px
    }
}

html.homepage-page .carousel .slide-4 .premises-box.premises-box-vms i {
    background-image: url("/lib/homepage/img/slide-4-vms.svg")
}

html.homepage-page .carousel .slide-4 .premises-box.premises-box-iaas {
    margin-top: 20px;
}

html.homepage-page .carousel .slide-4 .premises-box.premises-box-iaas i {
    background-image: url("/lib/homepage/img/slide-4-iaas.svg")
}

html.homepage-page .carousel .slide-4 .premises-box.premises-box-auth0 {
    margin-top: 14px;
}

html.homepage-page .carousel .slide-4 .premises-box.premises-box-auth0 i {
    background-image: url("/lib/homepage/img/slide-4-auth0.svg");
    background-size: 40%
}

html.homepage-page .carousel .slide-4 .premises-box span {
    text-transform: uppercase;
    color: #333;
    display: block;
    text-align: center;
    font-weight: 500;
    widht: 100%;
    background: #fff;
    padding: 6px 0;
    font-size: 13px;
}

@media (min-width: 992px) {
    html.homepage-page .carousel .slide-4 .premises-box span {
        padding:10px 0
    }
}

@media (min-width: 992px) and (min-width:992px) {
    html.homepage-page .carousel .slide-4 .premises-box {
        margin:0 0 0 20px
    }
}
